<main class="page gallery-page">
    <section class="portfolio-block">
        <div class="container">
            <img src="/images/thumbnails/{{poemTitle}}.png" class="w-100" />
    </section>
</main>
