<nav class="navbar navbar-expand-lg bg-danger navbar-dark fixed-top gradient">
  <div class="container"><a class="navbar-brand logo" href="/admin/home">Rudran Variyath</a><button
      data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle
        navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="/admin/home">Home</a></li>
        {{!-- <li class="nav-item"><a class="nav-link" href="/admin/gallery">Add Photos</a></li> --}}
        {{!-- <li class="nav-item"><a class="nav-link" href="/admin/poems">Add Poems</a></li> --}}
        <li class="nav-item"><a class="nav-link" href="/admin/thumbCreator">Create Thumbnail</a></li>
        {{!-- <li class="nav-item"><a class="nav-link" href="/admin/view-messages">Messages</a></li> --}}
        {{!-- <li class="nav-item"><a class="nav-link" href="/admin/add-singer">Add Singer Details</a></li> --}}
      </ul>
    </div>
  </div>
</nav>