<main class="page family-page">
    <section class="portfolio-block">
        <div class="container">
            <div class="heading">
                <h2>{{title}}</h2>
            </div>

            <div class="row" id="tree" />
    </section>
</main>
<input type="hidden" id="dataItem" value="{{members}}"/>