<main class="page">
    <section class="portfolio-block block-intro">
        <div class="container">
            <div class="avatar" style="background-image:url(&quot;images/avatars/avatar.jpg&quot;);"></div>
            <section id="profile" class="d-flex flex-column justify-content-center align-items-center">
                <div class="profile-container" data-aos="fade-in">
                    <h1>Rudran Variyath</h1>
                    <p>I'm a <span class="typed" data-typed-items="Poet, Writer,Social Activist"></span></p>
                </div>
            </section>
        </div>
    </section>
</main>